@layout('main')

@section('content')

<h1>{{ task.title }}</h1>

<p class="lead">
  {{ task.body }}
</p>
<hr class="my-4" />
<a href="/tasks" class="btn btn-warning btn-large">Back</a>
<a href="/task/{{ task.id }}/destroy" class="btn btn-danger btn-large">Delete</a>

@endsection
